
@{
    ViewBag.Title = "FAQ";
}

<style>
    .info-row {
        margin: 60px;
    }

    #about-row {
        margin: 30px 30px 0px 30px;
    }

    #video2 {
        margin: 30px 300px 0px 300px;
    }
</style>

<div>
    <h1 class="title text-center" style="color:floralwhite; font-family :Broadway">Harmony FAQ Page</h1>
</div>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="text-center">
            <img class="rounded mx-auto d-block w-100" src="~/pacificwhaleslogo.png" alt="First slide" style="max-width: 450px;">
        </div>
        <br />
        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">If you have a question about BeardyApp, you're in the right place.</h2>
                <p class="lead">
                    <li>What's Harmony App?</li>
                    <li>How do I use it?</li>
                    <li>Do I need to pay for it? </li>
                    <li>Why did you build Harmony?</li>
                    <li>I have another question.</li>
                </p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4"> About Harmony Team and Team members:</h2>
                <p class="lead">
                    We named our Team as Pacific Whales.
                    Team members: Louis Law, Nicocle M. Geiger, Penny Yang
                </p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">What's Harmony App?</h2>
                <p class="lead">
                    <li>Looking got gigs</li>
                    <li>Find fantastic musicains</li>
                    <li>Get recommendations and notifications right away</li>
                    <li>Flexible schedule and much more!</li>
                </p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">Git Repository</h2>
                <p class="lead">
                    <a href="https://github.com/lawlouis/seniorproject-PacificWhales" target="_blank">seniorproject-PacificWhales</a>
                </p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">
                    Question
                    How do I use it?
                </h2>
                <p class="lead">
                    Using Harmony App is easy. Get started by registering as a new user. Harmony will then inform you on gigs and so many talented musicians for your information. Make your life easier.

                </p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">Do I need to pay for it?</h2>
                <p class="lead">
                    Harmony is, and always will be, completely free! We're helping make the world in a better place.
                </p>
            </div>
        </div>


        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">Why did you build Harmony?</h2>
                <p class="lead">
                    As a team, we all happened to have some musicain friends and heard they are trying to look for jobs throught different sites. We thought we could definitely come up something to help our musicians friends to find good gigs based at Monmouth/Salem area. Here comes Harmony. This is like a dating based App, Venue owners are able to create a show and look up a musician, for musicians, vice versa. We believe Harmony will provide a smooth booking process and aids venue owners and musicians in discovering one another. Unlike other booking websites, Harmony will be truly a representative of, and useful to, independent musicians in the Monmouth/Salem area.
                </p>

            </div>
            <div class="jumbotron">
                <div class="container">
                    <h2 class="display-4">What's on your mind?</h2>
                    <p class="lead">
                        Contact us at: ylaw18@mail.wou.edu
                    </p>

                </div>
            </div>
        </div>
</div>






